# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go dependency directories
vendor/

# IDE/editor-specific files
.idea/
.vscode/
*.swp

# Logs
*.log

# Go module files (if not committing `vendor/`)
/vendor/
/go.sum
